<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>daily-notice-broad</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="style.css">

</head>
<body>

<div class="top">
    <div class="weather-grid">
        {# 第一行：白天天气 #}
        {% for w in data.weather %}
            <div class="weather-grid div">
                <div>{{ w.date }}</div>
                <div>{{ w.day_weather[0] }}</div>
            </div>
        {% endfor %}

        {# 第二行：夜间天气 #}
        {% for w in data.weather %}
            <div class="weather-grid div">
                <div>{{ w.date }}</div>
                <div>{{ w.night_weather[0] }}</div>
            </div>
        {% endfor %}
    </div>
</div>


    </div>
</div>





<div class="bottom-container">
    <div class="bottom-left">
        <div>倒计时</div>
        <div class="countdown-number">30天</div>
        <div>去上课</div>
    </div>

    <div class="bottom-right">
        tomato
    </div>
</div>


</div>

</body>
</html>
